<!DOCTYPE html>
<html>
<head>
<link href="/home/hassaanQadir/.virtualenvs/templates/styles.css" rel="stylesheet" />
<style>
 /* Add a black background color to the top navigation */
.topnav {
  background-color: blue;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ADD8E6;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #87CEEB;
  color: white;
}
</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/blog">Blog</a>
  <a href="#contact">Contact</a>
  <a href="#About">About</a>
</div>

    <form method="post" action="/">
		<label for="location">First Input an Address (Currently Limited to California)</label>
		<br>
        <input type="text" id="location" name="location">
		<br>
		<label for="procedure">Then Choose a procedure</label>
		<br>
        <input type="text" id="procedure" name="procedure" list="procedures" />
        <datalist id="procedures">
         <option>Emergency Room Visit Level 2 (low to moderate severity) CPT: 99282</option>
         <option>Emergency Room Visit, Level 3 (moderate severity) CPT: 99283</option>
         <option>Emergency Room Visit, Level 4 (high severity without signigicant threat) CPT: 99284</option>
         <option>Emergency Room Visit, Level 4 (high severity with significant threat) CPT: 99285</option>
         <option>Outpatient Visit, established patient, 15 minutes CPT: 99213</option>
         <option>Basic Metabolic Panel CPT: 80048</option>
         <option>Blood Gas Analysis, including 02 saturation CPT: 82805</option>
         <option>Complete Blood Count, automated CPT: 85027</option>
         <option>Complete Blood Count, with differential WBC, automated CPT: 85025</option>
         <option>Comprehensive Metabolic Panel CPT: 80053</option>
         <option>Creatine Kinase (CK), (CPK), Total CPT: 82550</option>
         <option>Lipid Panel CPT: 80061</option>
         <option>Partial Thromboplastin Time CPT: 85730</option>
         <option>Prothrombin Time CPT: 85610</option>
         <option>Thyroid Stimulating Hormone CPT: 84443</option>
         <option>Troponin, Quantitative CPT: 84484</option>
         <option>Urinalysis, without microscopy CPT: 81002</option>
         <option>Urinalysis, without microscopy CPT: 81003</option>
         <option>Urinalysis, with microscopy CPT: 81000</option>
         <option>Urinalysis, with microscopy CPT: 81001</option>
         <option>CT Scan, Abdomen, with contrast CPT: 74160</option>
         <option>CT Scan, Head or Brain, without contrast CPT: 70450</option>
         <option>CT Scan, Pelvis, with contrast CPT: 72193</option>
         <option>Mammography, Screening, Bilateral CPT: 77067</option>
         <option>MRI, Brain, without contrast, followed by contrast CPT: 70553</option>
         <option>Ultrasound, Abdomen, Complete CPT: 76700</option>
         <option>Ultrasound, OB, 14 weeks or more, transabdominal CPT: 76805</option>
         <option>X-Ray, Lower Back, minimum four views CPT: 72110</option>
         <option>X-Ray, Chest, two views CPT: 71046</option>
         <option>Cardiac Catheterization, Left Heart, percutaneous  CPT: 93452</option>
         <option>Echocardiography, Transthoracic, complete CPT: 93307</option>
         <option>Electrocardiogram, routine, with interpretation and report CPT: 93000</option>
         <option>Inhalation Treatment, pressurized or nonpressurized CPT: 94640</option>
         <option>Physical Therapy, Evaluation CPT: 97161</option>
         <option>Physical Therapy, Evaluation CPT: 97162</option>
         <option>Physical Therapy, Evaluation CPT: 97163</option>
         <option>Physical Therapy, Gait Training CPT: 97116</option>
         <option>Physical Therapy, Therapeutic Exercise CPT: 97110</option>
         <option>Arthroscopy, Knee, with meniscectomy (medial or lateral) CPT: 29881</option>
         <option>Arthroscopy, Shoulder, with partial acromioplasty CPT: 29826</option>
         <option>Carpal Tunnel Surgery CPT: 64721</option>
         <option>Cataract Removal with Insertion of Intraocular Lens, 1 Stage CPT: 66984</option>
         <option>Colonoscopy, diagnostic CPT: 45378</option>
         <option>Colonoscopy, with biopsy CPT: 45380</option>
         <option>Colonoscopy, with lesion removal, by snare technique CPT: 45385</option>
         <option>Discission, secondary membranous cataract, laser surgery CPT: 66821</option>
         <option>Endoscopy, Upper GI, with biopsy CPT: 43239</option>
         <option>Endoscopy, Upper GI, diagnostic CPT: 43235</option>
         <option> Excision, Breast Lesion, without preoperative radiological marker CPT: 19120</option>
         <option>Hernia Repair, Inguinal, 5 years and older CPT: 49505</option>
         <option>Injection, Diagnostic or Therapeutic substance, epidural, lumbar CPT: 62322</option>
         <option>Injection, Diagnostic or Therapeutic substance, epidural, lumbar CPT: 62323</option>
         <option>Injection, Anesthetic or Steroid, transforaminal epidural, lumbar CPT: 64483</option>
         <option>Laparoscopic Cholecystectomy CPT: 47562</option>
         <option>Tympanostomy (insert ventilating  tube, general anesthesia) CPT: 69436</option>
         <option>Tonsillectomy with Adenoidectomy, less than 12 years old CPT: 42820</option>
        </datalist>
        <br>
        <br>
        <input type="submit" value="Search for Procedure from Location" name="search for procedure">
    </form>

</div></form>


</body>
</html>
